<div class="container flex center direction-col">
    @if(questions.length>0){
        @for(question of questions; track $index){
            <div class="question w100">
            <div class="head-question flex justify-between align-center">
                <div class="title">
                    Questão {{$index}}
                </div>
                <div class="title">
                    {{question.category}}
                </div>
            </div>
            <div class="body-question">
                <p>{{question.question}}</p>
                <form>
                    @for(incorrect of question.incorrect_answers; track $index){
                        <div class="option">
                            <input type="radio" name="resposta" id="a" value="a">
                            <label for="a">{{incorrect}}</label>
                        </div>
                    }
                    <div class="option">
                        <input type="radio" name="resposta" id="a" value="a">
                        <label for="a">{{question.correct_answer}}</label>
                    </div>
                </form>
            </div>
        </div>
        <button
            class="nextButton"
        >
            Próxima
        </button>
        }
    }
    @else {
        <p class="sem">Sem questões no momento!</p>
    }
</div>