.container{
    min-height: calc(100vh - 59px);
    padding: 10px 2%;
    gap: 30px;
    p.sem{
        font-size: 2rem;
        background-color: white;
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
        padding: 10px 2%;
        border-radius: 10px;
    }
    .question{
        background-color: white;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        .head-question{
            border-bottom: 3px solid red;
            padding: 10px 2%;
            .title{
                background: linear-gradient(to right, var(--bg-secondary), var(--bg-primary), var(--bg-card-secondary));
                background-clip: text;
                color: transparent;
                font-weight: bold;
                font-size: 2rem;
            }
        }
        .body-question{
            padding: 10px 2%;
            p{
                font-size: 1.4rem;
                text-align: justify;
            }
            .option{
                padding: 10px 0;
                font-size: 1.2rem;
                input{
                    cursor: pointer;
                    margin-right: 4px;
                }
                label{
                    cursor: pointer;
                }
            }
        }
    }
    .nextButton{
        background: linear-gradient(to right, var(--btn-bg), var(--btn-bg-hover));
        border: none;
        padding: 10px 2%;
        border-radius: 20px;
        font-size: 1.2rem;
        color: white;
        cursor: pointer;
        transition: .4s;
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
    }
    .nextButton:hover{
        background-color: var(--btn-bg-hover);
        transform: scale(1.05);
    }
}