.container{
    min-height: calc(100vh - 59px);
    padding: 20px 0;
    gap: 20px;
    .graficoContainer{
        width: 300px;
        height: 300px;
    }
    .title{
        background: linear-gradient(to right, var(--bg-secondary), var(--bg-primary), var(--bg-card-secondary));
        font-size: 2rem;
        background-clip: text;
        color: transparent;
        font-weight: bold;
    }
    .line{
        height: 2px;
        background: linear-gradient(to right, var(--bg-secondary), var(--bg-primary), var(--bg-card-secondary));
    }
    .correcoes{
        height: 200px;
        padding: 10px 10px;
        overflow-x: auto;
        gap: 20px;
        .card-question{
            min-width: 50%;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
            padding: 10px;
            border-radius: 10px;
            h1{
                font-size: 1.4rem;
                color: var(--bg-card-secondary);
            }
            p{
                font-size: 1.2rem;
            }
        }
    }
    .correcoes::-webkit-scrollbar{
        height: 3px;
    }
    .correcoes::-webkit-scrollbar-track{
        background-color: white;
    }
    .correcoes::-webkit-scrollbar-thumb{
        background-color: var(--bg-card-secondary);
        border-radius: 10px;
    }
}