nav{
    background-color: rgb(110, 110, 245);
    padding: 0 2%;
    ul{
        list-style: none;
        margin: 0;
        li{
            display: inline-block;
            margin: 0 3px;
            a{
                color: white;
                text-decoration: none;
                padding: 20px 5px;
                display: inline-block;
            }
            a.selected{
                background-color: rgb(89, 89, 206);
            }
        }
    }
}