/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Roboto', sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    background-color: #efefef;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}