.container{
    min-height: calc(100vh - 59px);
    text-align: center;
    .card-welcome{
        background: linear-gradient(to right, var(--bg-primary), var(--bg-card-secondary));
        padding: 40px 0;
        border-radius: 12px;
        color: white;
        gap: 20px;
        h1{
            font-size: 3.2rem;
        }
        p{
            font-size: 1.2rem;
        }
        .line{
            height: 1px;
            background-color: white;
            width: 90%;
        }
        button{
            background-color: rgb(43, 153, 43);
            border: none;
            padding: 20px 2%;
            color: white;
            width: 30%;
            font-size: 2rem;
            border-radius: 10px;
            cursor: pointer;
            transition: .6s;
        }
        button:hover{
            transform: scale(1.02);
            background-color: rgb(34, 134, 34);
        }
    }
}