<div class="container flex center">
  <div class="card-welcome w100 flex direction-col center">
    <h1>Bem-vindo ao What-Ever Quiz!</h1>
    <p>
      Teste seus conhecimentos em diversas categorias e desafie seus amigos.
    </p>
    <div class="line"></div>
    <p>
      Um jogo interativo de perguntas e respostas com sistema de pontuação e
      ranking.
    </p>
    <button class="btn-register-player" type="button">
      <i class="fas fa-solid fa-circle-play"></i>
      Começar Quiz
    </button>
  </div>
</div>
