.container{
    max-width: 1444px;
    background-color: white;
    padding: 10px 2%;
    gap: 20px;
    min-height: calc(100vh - 59px);
    .title{
        font-size: 3rem;
        font-weight: bold;
        background-color: var(--bg-primary);
        background-clip: text;
        color: transparent;
    }
    .line{
        height: 2px;
        margin: 5px 0px;
        background: linear-gradient(to right, var(--bg-secondary), var(--bg-primary), var(--bg-card-secondary));
    }
    .players-container{
        height: 100%;
        flex-wrap: wrap;
        .w100{
            min-height: calc(100vh - 160px);
            img.loading{
                width: 60px;
            }
        }
        .player-card{
            border-radius: 10px;
            padding: 10px 2%;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
            margin: 20px 0;
            h1{
                color: var(--bg-primary);
            }
            .infos-container{
                .pt-containers{
                    .box-pt{
                        padding: 10px 0;
                        p{
                            color: var(--bg-secondary);
                        }
                    }
                }
                .btn-container{
                    .choose{
                        width: 100%;
                        padding: 2px 0;
                    }
                    .actions{
                        button{
                            margin: 0 2px;
                        }
                    }
                    button{
                        border: 0;
                        height: 40px;
                        color: white;
                        font-weight: bold;
                        border-radius: 20px;
                        padding: 0 10px;
                        transition: .6s;
                        background-color: var(--btn-bg);
                        cursor: pointer;
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                    }
                    button:hover{
                        background-color: var(--btn-bg-hover);
                    }
                    button.choose{
                        background-color: var(--bg-secondary);
                    }
                    button.edit{
                        background-color: gray;
                    }
                    button.delete{
                        background-color: red;
                    }
                }
            }
        }
    }
    .page-control{
        width: 50%;
        button{
            background-color: var(--bg-primary);
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: none;
            color: white;
            cursor: pointer;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        }
        .pages-container{
            width: 90%;
            gap: 20px;
            button.selected{
                background-color: var(--bg-card-secondary);
                transition: .6s;
            }
            button.selected:hover{
                background-color: var(--bg-card-secondary);
            }
        }
    }
}